@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --main-color: #d90429;
  --text-color: #020102;
  --bg-color: #fff;
}

body {
  color: var(--text-color);
}
body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0 !important;
  left: 0;
  z-index: 100;
}
body header.shadow {
  background-color: var(--bg-color);
  box-shadow: 4px 4px 4px rgba(15, 54, 55, 0.1);
  transition: 0.5s ease;
}
body header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
  max-height: 100%;
}
body header .nav #menu-icon {
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--text-color);
  display: none;
}
body header .nav .logo {
  height: 32px;
}
body header .nav .logo img {
  height: 100%;
}
body header .nav .navbar {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
body header .nav .navbar a {
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
body header .nav .navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
body section {
  padding: 4rem 0 2rem;
}
body .container {
  width: 100dvw;
  height: 100dvh;
  margin: 0 auto;
  padding: 2rem;
}
body .container .carousel {
  width: 50vw;
  aspect-ratio: 4/3;
  overflow: hidden;
}
body .container .carousel.slide {
  width: 50vw;
  aspect-ratio: 4/3;
}
body .container .carousel.slide .carousel-inner {
  position: relative;
  width: 100%;
  aspect-ratio: inherit;
  overflow: hidden;
}
body .container .carousel.slide .carousel-inner .carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  aspect-ratio: inherit;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
}
body .container .carousel.slide .carousel-inner .carousel-item.active {
  display: block;
  transform: translateX(0);
}
body .container .carousel.slide .carousel-inner .carousel-item img {
  width: 100%;
  display: block;
}
body .container .carousel.slide .carousel-control-prev,
body .container .carousel.slide .carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container .carousel.slide .carousel-control-prev:hover,
body .container .carousel.slide .carousel-control-next:hover {
  background: rgba(0, 0, 0, 0.7);
}
body .container .carousel.slide .carousel-control-prev span,
body .container .carousel.slide .carousel-control-next span {
  font-size: 2rem;
}
body .container .carousel.slide .carousel-control-prev .sr-only,
body .container .carousel.slide .carousel-control-next .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
body .container .carousel.slide .carousel-control-prev {
  left: 0;
}
body .container .carousel.slide .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("../images/previous.png");
}
body .container .carousel.slide .carousel-control-next {
  right: 0;
}
body .container .carousel.slide .carousel-control-next .carousel-control-next-icon {
  background-image: url("../images/next.png");
}
body .container hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid #ddd;
}
body .home {
  max-width: 1300px;
  margin: auto;
  width: 100%;
  min-height: 640px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}
body .home .home-text {
  width: 100%;
}
body .home .home-text h1 {
  padding-top: 5rem;
  margin: 0.5rem 0 1.2rem;
}
body .home .home-image {
  width: 100%;
  max-width: 2000px;
  min-height: 1000px;
  background: url("../images/r8.jpeg") center/cover no-repeat;
}
body .btn {
  padding: 10px 22px;
  background: var(--main-color);
  color: var(--bg-color);
  font-weight: 400;
  margin: 0.5rem 0 1.2rem;
}
body .btn:hover {
  background: #fd052f;
}
body .heading {
  text-align: center;
}
body .heading span {
  font-weight: 500;
  color: var(--main-color);
}
body .cars-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
}
body .cars-container .box {
  flex: 1 1 17rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid gray;
}
body .cars-container .box .imageContainer {
  width: 100%;
  aspect-ratio: 16/9;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
body .cars-container .box .imageContainer img {
  height: 100%;
  flex-shrink: 0;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body .cars-container .box .imageContainer img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
body .cars-container .box .imgLinks {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  overflow: hidden;
}
body .cars-container .box .imgLinks a {
  height: 48px;
  aspect-ratio: 1/1;
}
body .cars-container .box .imgLinks a img {
  height: 48px;
  width: 48px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body .cars-container .box h2 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: 400;
  font-size: 1rem;
  background-color: var(--bg-color);
  padding: 8px;
  border-radius: 0.5rem;
}
body .cars-container .box h2:hover {
  background: var(--main-color);
  color: var(--bg-color);
}
body .about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}
body .about .about-img {
  flex: 1 1 21rem;
}
body .about .about-text {
  flex: 1 1 21rem;
}
body .about .about-text span {
  font-weight: 500;
  color: var(--main-color);
}
body .about .about-text h2 {
  font-size: 1.7rem;
}
body .about .about-text p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1.4rem;
}
body .imports-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
body .imports-container .box {
  flex: 1 1 17rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}
body .imports-container .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
body .imports-container .box h2 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: 400;
  font-size: 1rem;
  background-color: var(--bg-color);
  padding: 8px;
  border-radius: 0.5rem;
}
body .imports-container .box h2:hover {
  background: var(--main-color);
  color: var(--bg-color);
}
body .imports-container .box .bx {
  color: var(--main-color);
  margin: 0.8rem 0;
}
body .imports-container .box .btn {
  max-width: 120px;
}
body .imports-container .box .details {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 1.8rem;
  right: 1rem;
  color: var(--text-color);
}
body .imports-container .box .details:hover {
  color: var(--main-color);
  text-decoration: underline;
}
body .footer {
  background: var(--text-color);
  color: #f6f6f6;
  border-top: 2px solid var(--main-color);
}
body .footer .footer-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
body .footer .footer-container .logo {
  color: var(--bg-color);
  margin-bottom: 1rem;
}
body .footer .footer-container .footer-box {
  display: flex;
  flex-direction: column;
}
body .footer .footer-container .footer-box h3 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
body .footer .footer-container .footer-box a,
body .footer .footer-container .footer-box p {
  color: #818181;
  margin-bottom: 10px;
}
body .footer .footer-container .footer-box a:hover,
body .footer .footer-container .footer-box p:hover {
  color: var(--bg-color);
}
body .footer .footer-container .social {
  display: flex;
  align-items: center;
}
body .footer .footer-container .social a {
  font-size: 24px;
  color: var(--bg-color);
  margin-right: 1rem;
}
body .footer .copyright {
  padding: 20px;
  text-align: center;
  color: var(--bg-color);
  background: var(--text-color);
}

@media (max-width: 1080px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 991px) {
  .nav {
    padding: 15px 20px;
  }
  section {
    padding: 3rem 0 1rem;
  }
  .home-text {
    padding-left: 2rem;
  }
  .home-text h1 {
    font-size: 2.1rem;
  }
}
@media (max-width: 920px) {
  #search-icon {
    color: var(--text-color);
  }
}
@media (max-width: 768px) {
  #search-box input {
    padding: 15px;
  }
  .nav {
    padding: 10px 0;
  }
  #menu-icon {
    display: initial;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: none;
    background: var(--bg-color);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.07);
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
  .navbar li {
    width: 100%;
  }
  .navbar a {
    display: block;
    padding: 1rem 2rem;
    border-bottom: 1px solid #eeeeee;
    color: var(--text-color);
  }
  .navbar .active {
    display: flex;
  }
  .about-text {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}